.header
  .icon
    %ul.icon-group
      <i class="fab fa-airbnb"></i>
      = link_to "/" do
        %li 概要
      = link_to "/" do
        %li 準備
      = link_to "/" do
        %li 安全
      = link_to "/" do
        %li マネープラン
    .icon-btn
      = link_to "/" do
        %li はじめる
